
body{
  background-color: #fadcaa;}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 3px;
  width: 10%;
}
h1 {
  color: #6a097d;
}
h3 {
  color: red;
  margin-left: 42.5%;
}
img {
  background-color: #ffdd93;
  border-width: 90px;
}
.top {
  margin-left: 22%;
}
p{
margin-top: 0;
margin-bottom: 0;
}
h2{
color: #cc0e74}
.note{
  color: #1a1c20;
}
